.page_tag_wrapper {
  margin-bottom: 20px;
}

.page_tag {
  border: 1px solid var(--th-thin-border-color);
  padding: 7px 10px;
  border-radius: 5px;
  background-color: var(--th-thin-border-color);
  text-transform: capitalize;
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: var(--th-font-family);
  letter-spacing: 0.5px; /* More appropriate spacing */
  color: var(--th-blod-gray-text);
}

.card_wrapper {
  min-height: 200px;
}
