.main_container {
  width: 100%;
  min-height: 100vh;
}

.inner_container {
  display: flex;
  column-gap: 5%;
  padding: 20px 0px;
}

.sidebar_container {
  width: 20%;
}

.content_container {
  width: 75%;
}

.component_container {
  width: 250px;
}

@media only screen and (max-width: 600px) {
  .sidebar_container {
    display: none;
  }
  .content_container {
    width: 100%;
  }
}
