.btnLoadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 3px solid rgba(255, 255, 255, 0.3); /* Light gray */
  border-top: 3px solid #ffffff; /* White */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 8px; /* Space between the spinner and the text */
}

.tiny {
  width: 15px;
  height: 15px;
}

.tiny_pading {
  padding: 1px 10px;
}

.medium {
  width: 20px;
  height: 20px;
}

.medium_pading {
  padding: 1px 14px;
}

.extra_large {
  width: 24px;
  height: 24px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .extra_large {
    width: 21px;
    height: 21px;
  }
}
