.input_style {
  background: none;
  width: 100%;
  border: 1px solid #afafaf;
  outline: none;
  color: var(--th-blod-gray-text);
  font-family: var(--th-font-family);
}

.extra_large {
  font-size: 16px;
  padding: 10px 12px;
  border-radius: 5px;
}
.large {
  font-size: 14px;
  padding: 9px 12px;
  border-radius: 5px;
}

.small {
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 5px;
}

.medium {
  padding: 10px 12px;
  border-radius: 8px;
}

.input_lable {
  margin-bottom: 5px;
  line-height: 1.75;
  font-weight: 600;
  display: block;
}

.inputHook_container {
  margin-bottom: 1px;
}

.passInput_hook_container {
}

.Password_input_wrapper {
  border: 1px solid #afafaf;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.pass_input_style {
  background: none;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 12px;
  color: var(--th-blod-gray-text);
  font-family: var(--th-font-family);
}

.passInput_icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--th-blod-gray-text);
}

/* Tablets */
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 600px) {
  .inputHook_container {
    margin-bottom: 5px;
  }

  .input_style {
    font-size: 14px;
  }
  .small {
    padding: 6px 8px;
    border-radius: 5px;
  }
  .medium {
    padding: 8px 10px;
    border-radius: 5px;
  }
  .passInput_hook_container {
    margin-bottom: 0px;
  }

  .Password_input_wrapper {
    border-radius: 5px;
    padding-right: 10px;
  }

  .passInput_icon_wrapper {
    color: var(--th-blod-gray-text);
  }
}
