.content_text {
  line-height: 1.3;
  font-size: 18px;
  font-family: var(--th-font-family);
  letter-spacing: 0.4px; /* More appropriate spacing */
  text-align: justify;
  color: var(--th-text-black);
}

@media only screen and (max-width: 600px) {
  .content_text {
    line-height: 1.3;
    font-size: 14px;
    font-family: var(--th-font-family);
    letter-spacing: 0.4px; /* More appropriate spacing */
    text-align: justify;
    color: var(--th-text-black);
  }
}
