.main_container {
  box-sizing: border-box;
}
.section_header {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.top_section {
  display: flex;
  column-gap: 5%;
  box-sizing: border-box;
}

.section_left {
  width: 65%;
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box !important;
}

.section_right {
  width: 30%;
  box-sizing: border-box;
}

.form_element_Box {
  margin-bottom: 20px;
}

.input_lable {
  margin-bottom: 5px;
  line-height: 1.75;
  font-weight: 600;
  display: block;
}

.input_wrapper {
  box-sizing: border-box;
  margin-bottom: 5px;
}

.componenet_section {
  /* box-shadow: var(--th-box-shadow); */
  border: var(--th-thin-gray-border);
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 24px;
}
