.pagination_wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--th-10px);
  margin: var(--th-20px) 0;
  flex-wrap: wrap;
}

.number_btns_wrapper {
  display: flex;
  gap: var(--th-10px);
  margin: var(--th-20px) 0;
  flex-wrap: wrap;
}

.pageButton {
  width: 3rem;
  height: 3rem;
  font-size: var(--th-small-font-size);
  font-weight: 500;
  color: var(--th-blod-gray-text);
  background-color: var(--th-body-background);
  border: 1px solid #ddd;
  border-radius: var(--th-5px);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageButton:hover {
  background-color: var(--th-primary-hover-color);
  color: var(--th-white-color);
  border-color: var(--th-primary-hover-color);
}

.pageButton:disabled {
  background-color: #f0f0f0;
  color: #aaa;
  cursor: not-allowed;
}

.active {
  background-color: var(--th-primary-color);
  color: var(--th-white-color);
  border-color: var(--th-primary-color);
}

.prev,
.next {
  font-size: var(--th-medium-font-size);
  font-weight: 600;
}

@media (max-width: 768px) {
  .pagination_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 120px;
    right: 0px;
    padding-right: 10px;
  }
  .pagination {
    gap: var(--th-5px);
    margin: var(--th-5px) 0;
  }

  .number_btns_wrapper {
    display: none;
  }

  .pageButton {
    width: 2rem;
    height: 2rem;
  }

  .prev,
  .next {
    font-size: 2rem;
    font-weight: 500;
  }
}
