.main_container {
  width: 100%;
  height: calc(100vh - 90px);
}

.inner_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_wrapper_container {
  box-shadow: var(--th-box-shadow);
  border: 1px solid var(--th-thin-border-color);
  background-color: #fff;
  border-radius: 5px;
  width: 500px;
}
.form_input_filedBox {
  height: 90px;
}
.container_header {
  border-bottom: 1px solid var(--th-thin-border-color);
  padding: 15px;
}

.heading_box {
  margin-bottom: 10px;
}

.form_wrraper {
  padding: 15px;
}

.form_input_wrapper {
  margin-bottom: 20px;
}
