.container {
  width: 100%;
  position: fixed;
  padding: 0px var(--th-layout-side-gap);
  height: var(--th-app-navbar-height);
  border-bottom: 1px solid var(--th-thin-border-color);
  background-color: var(--th-body-background);
  z-index: 8;
}

.inner_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner_container_left_side {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

/* Thre is no need to use this style navbar_logo_wrapper */

.nav_search_wrapper {
  width: 300px;
  position: relative;
}

.search_list {
  position: absolute;
  top: 40px;
  left: 10px;
  border: 1px solid var(--th-thin-border-color);
  background-color: var(--th-white-color);
  border-radius: 5px;
  width: 95%;
  padding: 10px;
  box-shadow: var(--th-box-shadow);
}

.suggest_item {
  padding: 5px 10px;
  cursor: pointer;
  line-height: 1.4; /* 1.4x to 1.5x ratio is ideal */
  letter-spacing: 0.3px; /* Reduced to a more standard value */
  font-size: 14px;
  font-weight: 500;
  font-family: var(--th-font-family);
  background-color: var(--th-white-color);
  color: var(--th-text-gray);
  display: block;
  text-transform: capitalize;
}

.suggest_item:hover {
  background-color: var(--th-thin-border-color);
  border-radius: 3px;
}

/* nav search  */
.search_container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  border: 1px solid var(--th-border-color);
  border-radius: 40px;
  padding: 3px;
  background-color: #ffff;
}

.search_iconBox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 4px;
  border-radius: 40px;
  color: var(--th-blod-gray-text);
}

.search_input_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search_input {
  padding: 4px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 40px;
  color: var(--th-blod-gray-text);
}

.inner_container_right_side {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.navigation_link_box {
  display: flex;
  column-gap: 15px;
}

.navigation_linkStyle {
  display: inline-block;
  padding: 7px;
  text-transform: capitalize;
  color: var(--th-blod-gray-text);
  font-family: "Inter";
  cursor: pointer;
}

.navigation_linkStyle:hover {
  color: var(--th-primary-color);
}

.userAuth_container {
  /* border: 1px solid red; */
}

.mobile_searchIcon_wrraper {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0px 20px;
    height: 50px;
    border-bottom: none;
    box-shadow: var(--th-box-shadow);
    border: 1px solid var(--th-thin-border-color);
  }
  .nav_search_wrapper {
    display: none;
  }

  .inner_container_right_side {
    display: none;
  }
  .mobile_searchIcon_wrraper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
