.drop_container {
  box-shadow: var(--th-box-shadow);
  /* height: 220px; */
  padding: 1rem;
  overflow-y: auto;
  border-radius: 8px;
}
/* For Firefox (Optional) */
.drop_container {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: rgb(93, 135, 255) #f1f1f1; /* Thumb color and track color */
}

.list_items {
  padding: 5px 10px;
  cursor: pointer;
  line-height: 1.4; /* 1.4x to 1.5x ratio is ideal */
  letter-spacing: 0.3px; /* Reduced to a more standard value */
  font-weight: 500;
  font-family: var(--th-font-family);
  display: block;
  text-transform: capitalize;
  font-size: 1.6rem;
  color: var(--th-blod-gray-text);
}

.list_items:hover {
  background-color: var(--th-thin-border-color);
  border-radius: 3px;
}
