.link_style {
  transition: background-color var(--th-transition-ease-time),
    color var(--th-transition-ease-time);
}

.medium_fill {
  display: flex;
  font-size: 16px;
  font-family: var(--th-font-family);
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 5px;
  line-height: 1.4;
  letter-spacing: 0.5px;
  background-color: var(--th-primary-color);
  color: var(--th-white-color);
  border: 1px solid var(--th-primary-color);
}

.medium_fill:hover {
  background-color: var(--th-primary-hover-color);
}

.tag_links {
  display: flex;
  color: var(--th-blod-gray-text);
  font-size: 16px;
  padding: 4px 0px;
  transition: background-color var(--th-transition-ease-time),
    color var(--th-transition-ease-time);
  line-height: 1.4;
  letter-spacing: 0.3px;
  font-family: var(--th-font-family);
}

.tag_links:hover {
  color: var(--th-primary-color);
}
