.main_container {
  padding: 20px 0px;
}

.flex_header {
  display: flex;
  column-gap: 50px;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid var(--th-thin-border-color);
}

.heading_box {
}

.search_box {
  width: 40%;
}

.tag_wrapper {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  padding: 50px 0px;
}

.tag_box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--th-thin-border-color);
  background-color: var(--th-thin-border-color);
  border-radius: 5px;
  padding: 7px 8px;
  text-transform: capitalize;
  white-space: nowrap;
  color: var(--th-blod-gray-text);
  flex-shrink: 0;
  transition: "color" "background-color" var(--th-transition-ease-time);
}

.tag_box:hover {
  color: var(--th-primary-hover-color);
}

@media only screen and (max-width: 600px) {
  .flex_header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 10px;
    row-gap: 10px;
  }

  .search_box {
    width: 100%;
  }
  .tag_wrapper {
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px 0px;
  }

  .tag_box {
    font-size: 12px;
    padding: 5px 7px;
  }
}
