.main_container {
}

.inner_container {
  display: flex;
  column-gap: 5%;
}

.left_side_container {
  width: 60%;
}

.right_side_container {
  width: 35%;
  border: 1px solid var(--th-thin-border-color);
}

.header_wapper {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page_content_wrapper {
  padding: 20px 0px;
}

.sidebar_component_wrapper {
  margin: 20px 20px;
}

.mobile_logout {
  display: none;
}

@media only screen and (max-width: 600px) {
  .left_side_container {
    width: 100%;
  }

  .right_side_container {
    display: none;
  }
  .header_wapper {
    padding: 10px 5px;
  }

  .mobile_logout {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
