.main_container {
}

.dekstop_footer_wrapper {
  display: flex;
  padding: 50px var(--th-layout-side-gap);
  border: 1px solid var(--th-thin-border-color);
}

.dekstop_footer_container {
  width: 100%;
}

.footer_heding {
  margin-bottom: 20px;
}

.footer_bottom_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer_page_links_wrapper {
  display: flex;
  column-gap: 20px;
}

.link_style {
  color: var(--th-blod-gray-text);
  text-transform: capitalize;
  font-size: 12px;
  padding: 5px 0px;
  border: 1px solid transparent;
}
.link_style:hover {
  color: var(--th-primary-color);
}

.mobile_footer_wrapper {
  display: none;
}

.mobile_footer_container {
  display: none;
}

.footer_popUp {
  position: absolute;
  top: -35px;
  background-color: var(--th-white-color);
  border: 1px solid var(--th-thin-border-color);
  width: 70px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .dekstop_footer_wrapper {
    display: flex;
    border: 1px solid var(--th-thin-border-color);
    padding-top: 50px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .dekstop_footer_wrapper {
    display: none;
  }
  .dekstop_footer {
    display: none;
  }

  .mobile_footer_wrapper {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
  }

  .mobile_footer_container {
    width: 100%;
    height: 100%;
    background-color: var(--th-white-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: var(--th-box-shadow);
    border: 1px solid var(--th-thin-border-color);
    color: var(--th-blod-gray-text);
    z-index: 10;
  }

  .footer_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  .footer_item:hover {
    color: var(--th-primary-color);
    transform: scale(1.1);
  }

  .icon {
    font-size: 24px;
    color: var(--th-blod-gray-text);
  }

  .footer_item span {
    margin-top: 2px;
  }
  .footer_auth_img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--th-blod-gray-text);
    font-size: 12px;
  }
}
